In [14]:
#PrVấn đề 1
import pandas as pd
import numpy as np

dftuyensinh = pd.read_csv(
    "patient_heart_rate.csv",
    delimiter=",",
    engine="python",
    on_bad_lines="skip"
)
dftuyensinh.head()

column_names = [
    'Id', 'Name', 'Age', 'Weight',
    'm0006', 'm0612', 'm1218',
    'f0006', 'f0612', 'f1218'
]

df = pd.read_csv(
    "patient_heart_rate.csv",
    names=column_names,
    engine="python",
    on_bad_lines="skip"
)

print(df.head())

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

In [15]:
# Vấn đề 2
df[['Firstname', 'Lastname']] = df['Name'].str.split(expand=True)
df = df.drop('Name', axis=1)
print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
10   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10   McDuck
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

In [16]:
# Vấn đề 3
weight = df['Weight']

for i in range(0, len(weight)):
    x = str(weight[i])

    if "lbs" in x[-3:]:
        x = x[:-3]
        float_x = float(x)
        y = int(float_x / 2.2)
        y = str(y) + "kgs"
        weight[i] = y

print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
10   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10   McDuck
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

In [17]:
# Vấn đề 4
df.dropna(how="all", inplace=True)
print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
10   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
10   McDuck
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

In [18]:
# Vấn đề 5

df = df.drop_duplicates(subset=['Firstname', 'Lastname', 'Age', 'Weight'])
print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

In [19]:
# Problem 6
df.Firstname.replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)
df.Lastname.replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)
print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

C:\Users\baop8\AppData\Local\Temp\ipykernel_23752\1199247883.py:2: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df.Firstname.replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)
C:\Users\baop8\AppData\Local\Temp\ipykernel_23752\1199247883.py:3: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df.Lastname.replace({r'[^\x00-\x7F]+': ''}, regex=True, inplace=True)

In [20]:
# Vấn đề 7
# a
print("Số lượng giá trị thiếu:")
print(df[['Age', 'Weight']].isnull().sum())
print("-" * 40)

# b
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

# c
df = df.dropna(subset=['Age', 'Weight'], how='all')

# d
mean_age = df['Age'].mean()
print("Giá trị trung bình Age:", round(mean_age, 2))

# e
df['Age'] = df['Age'].fillna(mean_age)

print("\nDữ liệu sau khi xử lý missing values:")
print(df[['Age', 'Weight']])

Số lượng giá trị thiếu:
Age       3
Weight    3
dtype: int64
----------------------------------------
Giá trị trung bình Age: 36.1

Dữ liệu sau khi xử lý missing values:
     Age      Weight
0   56.0       70kgs
1   34.0   154.89lbs
2   16.0         NaN
3   36.1       78kgs
4   54.0  198.658lbs
5   52.0      189lbs
6   19.0       56kgs
7   32.0       78kgs
11  12.0       45kgs
12  36.1       60kgs
13  34.0         NaN
15  52.0      180lbs

In [ ]:
#Vấn đề 8
df = pd.melt(
    df,
    id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'],
    value_name='PulseRate_raw',
    var_name='sex_and_timse'
).sort_values(['Id', 'Age', 'Weight', 'Firstname', 'Lastname'])

tmp_df = df['sex_and_time'].str.extract(r'(\D)(\d+)(\d{2})', expand=True)

tmp_df.columns = ['Sex', 'hours_lower', 'hours_upper']

tmp_df['Time'] = tmp_df['hours_lower'] + '-' + tmp_df['hours_upper']

df = pd.concat([df, tmp_df], axis=1)

df = df.drop(['sex_and_time', 'hours_lower', 'hours_upper'], axis=1)

df.rename(columns={'PulseRate_raw': 'PulseRate'}, inplace=True)

print(df)

      Id   Age  Weight Firstname Lastname PulseRate Sex   Time
0    1.0  56.0   70kgs    Mickéy    Mousé        72   m  00-06
12   1.0  56.0   70kgs    Mickéy    Mousé        69   m  06-12
24   1.0  56.0   70kgs    Mickéy    Mousé        71   m  12-18
36   1.0  56.0   70kgs    Mickéy    Mousé         -   f  00-06
48   1.0  56.0   70kgs    Mickéy    Mousé         -   f  06-12
..   ...   ...     ...       ...      ...       ...  ..    ...
23  15.0  52.0  180lbs       NaN      NaN         -   m  06-12
35  15.0  52.0  180lbs       NaN      NaN         -   m  12-18
47  15.0  52.0  180lbs       NaN      NaN        68   f  00-06
59  15.0  52.0  180lbs       NaN      NaN        75   f  06-12
71  15.0  52.0  180lbs       NaN      NaN        72   f  12-18

[72 rows x 8 columns]